body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(../static/img/backgroundLoginRegis2.webp) no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    width: 576px;
    padding: 40px;
    background-color: rgba(233,196,156);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 55%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-container img {
    width: 135px;
    height: auto;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: calc(100%);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(205,153,106);
    color: white;
    cursor: pointer;
    font-size:20px;
}

.login-container button:hover {
    background-color: #e0a674;
}

.signup-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.signup-link a {
    color: black;
    text-decoration: none;
    text-decoration: underline;
}

.signup-link a:hover {
    text-decoration: none;
}
.login-container h1 {
    margin-bottom: 20px;
    font-size: 30px;
}
.radio-group {
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.radio-group label {
    margin-right: 20px;
    display: flex;
    align-items: center;
}