<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawspective - Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/pawspectiveIcon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='img/pawspectiveIcon.png') }}" alt="Logo">
        <h1>Login</h1>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/login" method="POST">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" placeholder="Insert Your email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Insert Your Password" required>
            
            <button type="submit">Login</button>
        </form>
        <div class="signup-link">
            Don't have an account? <a href="{{ url_for('register.register') }}">Sign up</a>
        </div>
    </div>
</body>
</html>
